defaults:
  - default
  - tabularization: default
  - override hydra/sweeper: optuna
  - override hydra/sweeper/sampler: tpe
  - override hydra/launcher: joblib
  - _self_

task_name: task

# Task cached data dir
input_dir: ${output_cohort_dir}/${task_name}/task_cache
# Directory with task labels
input_label_dir: ${output_cohort_dir}/${task_name}/labels/
# Where to output the model and cached data
model_dir: ${output_cohort_dir}/model/model_${now:%Y-%m-%d_%H-%M-%S}
output_filepath: ${model_dir}/model_metadata.json

# Model parameters
model_params:
  num_boost_round: 1000
  early_stopping_rounds: 5
  model:
    booster: gbtree
    device: cpu
    nthread: 1
    tree_method: hist
    objective: binary:logistic
  iterator:
    keep_data_in_memory: True
    binarize_task: True

log_dir: ${model_dir}/.logs/

hydra:
  # Optuna Sweeper
  sweeper:
    sampler:
      seed: 1
    study_name: null #study_${now:%Y-%m-%d_%H-%M-%S}
    storage: null
    direction: minimize
    n_trials: 250
    n_jobs: 25

    # Define search space for Optuna
    params:
      +model_params.model.eta: tag(log, interval(0.001, 1))
      +model_params.model.lambda: tag(log, interval(0.001, 1))
      +model_params.model.alpha: tag(log, interval(0.001, 1))
      +model_params.model.subsample: interval(0.5, 1)
      +model_params.model.min_child_weight: interval(1e-2, 100)
      model_params.num_boost_round: range(100, 1000)
      model_params.early_stopping_rounds: range(1, 10)
      +model_params.model.max_depth: range(2, 16)
      tabularization.min_code_inclusion_frequency: tag(log, range(10, 1000000))

name: launch_xgboost
